
<h3 class='shopping-list-title'><%= @shopping_list.name %></h3> <span class="delete-shopping-list">( <%= link_to 'delete', @shopping_list, method: :delete, data: { confirm: 'Are you sure?' } %> )</span> 



<div class="row">
  <div class="col-md-6">
    <h4>Details</h4>
  <p class='list-detail'>People : <%= @aggregator['people'] %></p>
  <p class='list-detail'>Days : <%= @aggregator['days'] %></p>

  <% @meals.each do |meal| %>
    <p class="meal"><%= meal['name'] %></p>
      <% meal['dishes'].each do |dish| %>
        <p class="dish"><%= dish %></p>
      <% end %>
  <% end %>
  </div>
  <div class="col-md-6">
    <h4>shopping list</h4>
    <div class="section">
    </div>

  </div>
</div>



<script>
  
  var shoppingList = <%= raw JSON.parse(@shopping_list.ingredients).to_json %>
  step7.renderShoppingList(shoppingList)

</script>
